export TASK_MANAGER_DB_HOST=localhost
export TASK_MANAGER_DB_PORT=5432
export TASK_MANAGER_DB_NAME=postgres
export TASK_MANAGER_DB_USER=postgres
export TASK_MANAGER_DB_PASSWORD=postgres
export TASK_MANAGER_DB_SCEHMA=public
